<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Productos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Productos</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card *ngFor="let product of (products | async)" button>
    <ion-card-header>
      <ion-card-subtitle>Awesome Subtitle</ion-card-subtitle>
      <ion-card-title>Awesome Title</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Awesome content
    </ion-card-content>
  </ion-card>
</ion-content>
