<ion-header [translucent]="true">
	<ion-toolbar>
		<ion-title>
			Productos
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
	<ion-header collapse="condense">
		<ion-toolbar>
		<ion-title size="large">Productos</ion-title>
		</ion-toolbar>
	</ion-header>

	<ion-card *ngFor="let product of products" button [routerLink]="['details', product.collection]"
	routerLinkActive="active">
		<ion-card-header>
			<ion-card-title>{{ product.title }}</ion-card-title>
			<ion-card-subtitle>{{ product.description }}</ion-card-subtitle>
		</ion-card-header>
	</ion-card>
</ion-content>
